# --- DOCKER ---
docker-compose.yml
docker-compose.override.yml
.env
*.db

# --- BACKEND (Java/Spring) ---
backend/target/
backend/*.jar
backend/*.war
backend/*.zip
backend/.mvn/wrapper/maven-wrapper.jar

# --- FRONTEND (Node/Vue) ---
frontend/node_modules/
frontend/dist/
frontend/pkg/
frontend/.nx/
frontend/.cache/
frontend/.env.local
frontend/.env.*.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# --- IDEs & EDITORS ---
.idea/
*.iml
.vscode/
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db

# --- LOGS ---
*.log
logs/